@{ ViewData["Title"] = "Home Page"; }

<cache vary-by="@Context.Request.Path">
    <div id="react-app">Loading...</div>
</cache>

@section scripts {
<script src="~/dist/main.js" asp-append-version="true"></script> }